@font-face {
    font-family: "Godo";
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2")
            format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff")
            format("woff");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Godo";
    src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2")
            format("woff2"),
        url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff")
            format("woff");
    font-weight: 700;
    font-display: swap;
}

.hd {
    width: 100vw;
    height: 50px;
    padding-top: 40px;
    /* border: 2px solid orange; */
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.hd--hidden {
    opacity: 0;
    pointer-events: none;
}

.nav {
    /* display: inline-block;  a 태그가 inline(text) width와 height 가질 수 없어서 블록 형태로 변경 */
    width: 100%;
    height: 80px;
    /* background-color: rgb(82, 110, 110);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* gap: 50px; */
    cursor: pointer;
}

.nav .logo {
    width: 180px;
    height: 120px;
    background-image: url(/SITB/src/img/logo/NHN.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: red; */
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(92, 92, 92, 0.726);
}

.nav .menu {
    width: 35%;
    height: 80px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 70px;
    /* margin-left: 50px; */
}

.nav a {
    text-decoration: none;
    /* text-shadow: 1px 1px 1px rgba(92, 92, 92, 0.726); */
    color: black;
    position: relative;
    padding-right: 15px;
}

.nav .menu svg:hover {
    text-shadow: none;
    src: url(../src/img/logo/logo.jpg);
}
.nav .menu a:hover {
    text-shadow: none;
    color: black;
}

.nav a::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: 3px;
    opacity: 0;
    transition: opacity 0.1s;
}
.nav a:hover::after {
    opacity: 1;
}
/* .menu{
        text-decoration: none;
        color: initial;
    } */
.ic {
    width: 150px;
    height: 80px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: auto;
    color: white;
}
