#section1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#section1 .slider {
  width: 100%;
  height: 100%;
}
#section .slider > div {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease;
}
#section .slider > div.active {
  opacity: 1;
  z-index: 2;
}
#section1 video {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section1 .Txt {
  position: relative;
  left: 150px;
  bottom: 530px;
  color: #fff;
  z-index: 3;
  text-shadow: 10px 10px 30px rgba(12, 11, 11, 0.45);
  transform: translateY(50px);
  animation: txtUp 1.5s ease-out forwards;
  font-weight: 500;
}
#section1 .Txt > span {
  font-size: 20px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
#section1 .Txt > span i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  font-size: 16px;
  color: black;
}
#section1 .Txt h1 {
  font-size: 55px;
  line-height: 70px;
}

#section1 .control {
  position: absolute;
  left: 300px;
  bottom: 130px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  z-index: 3;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

#section1 .outBar {
  width: 100px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 999px;
  position: relative;
}
#section1 .outBar .bar {
  position: absolute;
  height: 100%;
  background: white;
}

#section1 .control .btn {
  display: flex;
  gap: 10px;
  font-size: 27px;
}

#section1 .control button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#section1 .control button:hover {
  background: rgba(161, 159, 159, 0.5);
}
@keyframes txtUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
