/* 서브메뉴 2 시작 */
        .sub2-sec1,
        .sub2-sec2,
        .sub2-sec3,
        .sub2-sec4,
        .sub2-sec5,
        .sub2-sec6,
        .sub2-sec7{
            width: 100%;
            /* height: 100%; */
            /* background-color: pink; */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.5s linear;
        }
            section.active{
                opacity: 1;
                transform: translateY(0);
            }
            .sub2-title{
                width: 1200px;
                height: 150px;
                /* background-color: skyblue; */
                margin-top: 100px;
                font-size: 20px;
                margin-bottom: 20px;
            }
            .sub2-sec1-outBox,
            .sub2-sec2-outBox,
            .sub2-sec3-outBox,
            .sub2-sec4-outBox,
            .sub2-sec5-outBox,
            .sub2-sec6-outBox,
            .sub2-sec7-outBox{
                width: 1200px;
                height: 680px;
                /* background-color: aquamarine; */
            }
                .imgBox{
                    width: 100%;
                    height: 481px;
                    /* background-color: beige; */
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    cursor: grab;
                }
                    .imgBox.move{
                        cursor: grabbing;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                        user-select: none;
                        pointer-events: none;
                        flex-shrink: 0;
                        transition: all 0.7s linear;
                    }
                    .sub2-sec1-outBox-imgBox-btn,
                    .sub2-sec2-outBox-imgBox-btn,
                    .sub2-sec3-outBox-imgBox-btn,
                    .sub2-sec4-outBox-imgBox-btn,
                    .sub2-sec5-outBox-imgBox-btn,
                    .sub2-sec6-outBox-imgBox-btn,
                    .sub2-sec7-outBox-imgBox-btn{
                        width: 100px;
                        height: 32px;
                        background-color: #212126;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 3px;
                        border-radius: 20px;
                        position: absolute;
                        bottom: 5%;
                        right: 2%;
                        cursor: pointer;
                        z-index: 10;
                    }
                        .sub2-sec1-outBox-imgBox-btn i,
                        .sub2-sec2-outBox-imgBox-btn i,
                        .sub2-sec3-outBox-imgBox-btn i,
                        .sub2-sec4-outBox-imgBox-btn i,
                        .sub2-sec5-outBox-imgBox-btn i,
                        .sub2-sec6-outBox-imgBox-btn i,
                        .sub2-sec7-outBox-imgBox-btn i{
                            font-size: 16px;
                        }
                        .changePage, .page, div{
                            font-size: 12px;
                        }
                .sub2-sec1-outBox-textBox,
                .sub2-sec2-outBox-textBox,
                .sub2-sec3-outBox-textBox,
                .sub2-sec4-outBox-textBox,
                .sub2-sec5-outBox-textBox,
                .sub2-sec6-outBox-textBox,
                .sub2-sec7-outBox-textBox{
                    width: 100%;
                    height: 145px;
                    /* background-color: lightcoral; */
                    display: flex;
                    margin-top: 10px;
                }
                    .sub2-sec1-outBox-textBox-left,
                    .sub2-sec2-outBox-textBox-left,
                    .sub2-sec3-outBox-textBox-left,
                    .sub2-sec4-outBox-textBox-left,
                    .sub2-sec5-outBox-textBox-left,
                    .sub2-sec6-outBox-textBox-left,
                    .sub2-sec7-outBox-textBox-left{
                        width: 30%;
                        height: 100%;
                        color: #212126;
                        /* background-color: lightgoldenrodyellow; */
                    }
                        .sub2-sec1-outBox-textBox-left h2,
                        .sub2-sec2-outBox-textBox-left h2,
                        .sub2-sec3-outBox-textBox-left h2,
                        .sub2-sec4-outBox-textBox-left h2,
                        .sub2-sec5-outBox-textBox-left h2,
                        .sub2-sec6-outBox-textBox-left h2,
                        .sub2-sec7-outBox-textBox-left h2{
                            font-size: 28px;
                        }
                        .sub2-sec1-outBox-textBox-left p,
                        .sub2-sec2-outBox-textBox-left p,
                        .sub2-sec3-outBox-textBox-left p,
                        .sub2-sec4-outBox-textBox-left p,
                        .sub2-sec5-outBox-textBox-left p,
                        .sub2-sec6-outBox-textBox-left p,
                        .sub2-sec7-outBox-textBox-left p{
                            font-size: 18px;
                        }
                    .sub2-sec1-outBox-textBox-right,
                    .sub2-sec2-outBox-textBox-right,
                    .sub2-sec3-outBox-textBox-right,
                    .sub2-sec4-outBox-textBox-right,
                    .sub2-sec5-outBox-textBox-right,
                    .sub2-sec6-outBox-textBox-right,
                    .sub2-sec7-outBox-textBox-right{
                        width: 70%;
                        height: 100%;
                        /* background-color: lightgray; */
                    }
                        .sub2-sec1-outBox-textBox-right-top,
                        .sub2-sec2-outBox-textBox-right-top,
                        .sub2-sec3-outBox-textBox-right-top{
                            width: 100%;
                            height: 60%;
                            color: #57575B;
                            /* background-color: lightgreen; */
                        }
                        .sub2-sec4-outBox-textBox-right-top,
                        .sub2-sec5-outBox-textBox-right-top,
                        .sub2-sec6-outBox-textBox-right-top,
                        .sub2-sec7-outBox-textBox-right-top{
                            width: 100%;
                            height: 80%;
                            color: #57575B;
                            /* background-color: lightgreen; */
                        }
                            .sub2-sec1-outBox-textBox-right-top p,
                            .sub2-sec2-outBox-textBox-right-top p,
                            .sub2-sec3-outBox-textBox-right-top p,
                            .sub2-sec4-outBox-textBox-right-top p,
                            .sub2-sec5-outBox-textBox-right-top p,
                            .sub2-sec6-outBox-textBox-right-top p,
                            .sub2-sec7-outBox-textBox-right-top p{
                                font-size: 16px;
                            }
                        .sub2-sec1-outBox-textBox-right-bottom,
                        .sub2-sec2-outBox-textBox-right-bottom,
                        .sub2-sec3-outBox-textBox-right-bottom,
                        .sub2-sec4-outBox-textBox-right-bottom,
                        .sub2-sec5-outBox-textBox-right-bottom,
                        .sub2-sec6-outBox-textBox-right-bottom,
                        .sub2-sec7-outBox-textBox-right-bottom{
                            width: 100%;
                            height: 20%;
                            /* background-color: lightsalmon; */
                            display: flex;
                            color: #62626A;
                            cursor: pointer;
                        }
                            .sub2-sec1-outBox-textBox-right-bottom-btn1,
                            .sub2-sec2-outBox-textBox-right-bottom-btn1,
                            .sub2-sec3-outBox-textBox-right-bottom-btn1,
                            .sub2-sec4-outBox-textBox-right-bottom-btn1,
                            .sub2-sec5-outBox-textBox-right-bottom-btn1,
                            .sub2-sec6-outBox-textBox-right-bottom-btn1,
                            .sub2-sec7-outBox-textBox-right-bottom-btn1{
                                width: 90px;
                                height: 100%;
                                background-color: #F8F8F8;
                                border-radius: 10px;
                                margin-right: 20px;
                                font-size: 14px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .sub2-sec1-outBox-textBox-right-bottom-btn2,
                            .sub2-sec2-outBox-textBox-right-bottom-btn2,
                            .sub2-sec3-outBox-textBox-right-bottom-btn2,
                            .sub2-sec4-outBox-textBox-right-bottom-btn2,
                            .sub2-sec5-outBox-textBox-right-bottom-btn2,
                            .sub2-sec6-outBox-textBox-right-bottom-btn2,
                            .sub2-sec7-outBox-textBox-right-bottom-btn2{
                                width: 110px;
                                height: 100%;
                                background-color: #F8F8F8;
                                border-radius: 10px;
                                font-size: 14px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }