body {
    margin: 0;
    height: 400vh;
    overflow-x: hidden;
}
* {
    text-decoration: none;
    color: black;
}
.main__text__container {
    width: 1200px;
    height: 250px;
    /* background-color: aliceblue; */
    margin: 30px auto;
    padding-top: 50px;
    font-size: 2.3rem;
}
.main__text {
    font-size: 2.3rem;
    padding-top: 100px;
}
.desc__btn {
    width: 1200px;
    height: 72px;
    background-color: rgb(255, 255, 255);
    margin: 16px auto;
    display: flex;
    gap: 50px;

    align-items: center;
}
.desc__container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
input[type="radio"] {
    display: none;
}
.desc__btn__label {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    user-select: none;
    transition: background-color 0.3s;
}
input[type="radio"]:checked + label.desc__btn__label {
    background-color: black;
    color: white;
}
.sec1 {
    width: 100%;
    height: 25%;
    /* background-color: #eee; */
}
.container {
    width: 840px;
    height: 480px;
    /* background-color: wheat; */
    margin: 200px auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
}
.desc__main__contents1 {
    width: 100%;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 20;
    transition: all 0.3s ease;
}
.desc__main__contents4 {
    width: 100%;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 20;
    transition: all 0.3s ease;
}
.desc__main__contents2 {
    width: 100%;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    transition: all 0.3s ease;
}
.desc__main__contents3 {
    width: 100%;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 20;
    transition: all 0.3s ease;
}
.desc__main__contents1__active.desc__main__contents1 h1 {
    color: white;
    position: absolute;
    transform: translateY(100px);
    z-index: 20;
    transition: all 0.3s ease;
}
.desc__main__contents2 h1 {
    font-size: 3rem;
    transition: all 0.3s ease;
    color: black;
}
.desc__main__contents3 h1 {
    font-size: 3rem;
    transition: all 0.3s ease;
    color: black;
}
.desc__main__contents4 h1 {
    font-size: 3rem;
    transition: all 0.3s ease;
    color: black;
}
.img__container1 {
    background-image: url(../src/img/2/intro1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 840px;
    height: 240px;
    transition: all 0.8s ease;
    transform: scale(0.9);
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
}
.img__container2 {
    background-image: url(../src/img/2/intro2.jpg);
    width: 840px;
    height: 240px;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}
.img__container3 {
    background-image: url(../src/img/2/intro3.jpg);
    width: 840px;
    height: 240px;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}
.img__container4 {
    background-image: url(../src/img/2/intro4.jpg);
    width: 840px;
    height: 240px;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}
.desc__sub__container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    transition: all 0.3s ease;
    top: 250px;
    position: absolute;
}
.desc__sub__container2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    transition: all 0.3s ease;
    top: 250px;
    position: absolute;
}
.desc__sub__container3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    transition: all 0.3s ease;
    top: 250px;
    position: absolute;
}
.desc__sub__container4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    transition: all 0.3s ease;
    top: 250px;
    position: absolute;
}
.desc__sub__title {
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.3s ease;
    z-index: 20;
}
.desc__sub__contents {
    padding-right: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #555;
    transition: all 0.3s ease;
    z-index: 20;
}
.sec2 {
    width: 100%;
    height: 25%;
    /* background-color: #eee; */
}
.sec3 {
    width: 100%;
    height: 25%;
    /* background-color: #eee; */
}
.sec4 {
    width: 100%;
    height: 25%;
    /* background-color: #eee; */
}
.img__container__active {
    transform: scale(3);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}
.desc__sub__container__active {
    color: white;
}
.desc__sub__container1.desc__sub__container__active .desc__sub__title,
.desc__sub__container1.desc__sub__container__active .desc__sub__contents {
    color: white;
    transform: translateY(-100px);
    z-index: 10;
}
.desc__sub__container2.desc__sub__container__active .desc__sub__title,
.desc__sub__container2.desc__sub__container__active .desc__sub__contents {
    color: white;
    transform: translateY(-100px);
    z-index: 10;
}
.desc__sub__container3.desc__sub__container__active .desc__sub__title,
.desc__sub__container3.desc__sub__container__active .desc__sub__contents {
    color: white;
    transform: translateY(-100px);
    z-index: 10;
}
.desc__sub__container4.desc__sub__container__active .desc__sub__title,
.desc__sub__container4.desc__sub__container__active .desc__sub__contents {
    color: white;
    transform: translateY(-100px);
    z-index: 10;
}
.desc__main__contents__active {
    color: white;
    transform: translateY(100px);
    z-index: 10;
}

.desc__main__contents2 h1 {
    width: 100%;
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 20;
    transition: all 0.3s ease;
}
.desc__main__contents3 {
    width: 100%;
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 20;
    transition: all 0.3s ease;
}
.desc__main__contents4 {
    width: 100%;
    font-size: 3rem;
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 20;
    transition: all 0.3s ease;
}
h1.desc__main__contents__active {
    color: white;
    transform: translateY(100px);
    transition: all 0.3s ease;
}
